/********* Home page **********/
.container {
    padding: 0;
    margin: 0;
    width: 100%;
}
body.application {
    padding: 0;
    font-family: 'Montserrat';
}
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
}
.navbar-brand:hover {
    color: rgba(51, 51, 51, 0.6) !important;
}
.navbar-brand {
    color: #333 !important;
    display: flex;
}
.for-president {
    margin: 0 0 10px 0;
}
@media (max-width: 600px) {
    .navbar-brand {
        font-size: 18px;
    }
}
.navbar-header {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: inherit;
}
@media (max-width: 600px) {
    .navbar-header {
        justify-content: center;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
.box1,.box1_5, .box2,.box3,.box4,.box5,.box6 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.box1_5 {
    height: inherit;
    padding: 30px 0 30px 0;
}
.box1 {
    background: url("../images/flag2.png") fixed;
    height: inherit;
    padding-top: 70px;
    padding: 130px 0 0 0;
}
.box2 {
    background: url("../images/img10.jpg") fixed;
}
.box3 {
    background: url("../images/img4.jpg")  fixed;
}
.box4 {
    background: url("../images/img5.jpg") fixed;
}
.box5 {
    background: url("../images/img6.jpg") fixed;
}
.box6 {
    background: url("../images/img3.jpg") fixed;
}
.home-info {
    margin: 20px 0 30px 0;
    text-align: center;
    padding: 0 10%;
    color: #333;
}
.home-info1 {
    background-color: rgba(255,255,255,0.8);
    margin: 50px 0 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (max-width: 370px) {
    .home-info{
        margin: 35px 0 0 0;
    }
}
.aim-title {
    font-size: 50px;
}
.aim-title:hover {
    text-decoration: none !important;
}
.home-title {
    font-size: 70px;
    font-family: Montserrat;
    margin-top: 5px;
}
@media (max-width: 800px) {
    .home-title {
        font-size: 60px;
    }
}

h3#thankyou {
    font-size: 20px;
}

.home-picture {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.home-picture > img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    border: solid rgba(0,0,0,0.4) thin;
    filter: brightness(1.1);
    border: solid thin
}
p {
    font-size: 12px;
}
.navbar-brand > p {
    font-size: 14px;
}
.social-med {
    height: 20px;
    width: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/********* Stats page **********/

#funding-stage {
    overflow-x: scroll;
    display: flex;
}

#Education-info {
    text-align: center;
    padding: 10px 15% 20px 15%;
}
.Education-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    .Education-title {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .Education-title > h1 {
        margin: 20px;
    }
}

.hidden {
    display: none;
}

#tooltip {
    position: absolute;
    z-index: 1000000;
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
    font-weight: bold;
}

p.nav-governor {
    color: #adadad;
!important;
    margin-left: 6px;
}

@media (max-width: 600px) {
    p.nav-governor {
        display: none;
    }
}

button.reset {
    height: 30px;
!important;
    margin-left: 20px;
    bottom: 10px;
    border-radius: 5px;
    background-color: rgba(26, 24, 35, 0.41);
    color: white;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;

}

button.reset:hover {
    background-color: #333;
}

body {
    /*min-width: 850px;*/
}

.menu {
    float: right;
    margin-right: 40px;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    ul.menu {
        padding: 10px;
        margin: 0;
    }
}

.menu li {
    display: inline;
}

@media (max-width: 600px) {
    .menu li {
        font-size: 18px;
    }
}

.menu li + li {
    margin-left: 35px;
}

@media (max-width: 600px) {
    .menu li + li {
        margin-left: 15px;
    }
}
.graph-center {
    display: flex;
    justify-content: center;
}

.menu li a {
    color: #333;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

#menu-select {
    margin: 15px 0 15px 10px;
}

#funding-chart {
    margin: 15px auto;
}

.text-muted {
    margin-right: 20px;
    margin-bottom: 0;
}

#number-projects-nd, #total-donations-nd, #average-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects, #net-donations {
    background: #CC1520;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.total-number-don {
    background: #CC1520;
    position: relative;
    font-size: 29px;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
"
}

.dc-select-menu {
    background: #CC1520;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;

}
