/********* Index page **********/
p.nav-governor {
    color: #adadad;
    margin-left: 6px;
}

@media (max-width: 600px) {
    p.nav-governor {
        display: none;
    }
}
.container {
    padding: 0;
    margin: 0;
    width: 100%;
}
body.application {
    padding: 0;
    font-family: 'Montserrat';
}
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
}
.navbar-brand:hover {
    color: black !important;
    font-weight: 300;
}
.navbar-brand {
    color: #333 !important;
    display: flex;
}
.for-president {
    margin: 0 0 10px 0;
}
@media (max-width: 600px) {
    .navbar-brand {
        font-size: 18px;
    }
}
.navbar-header {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: inherit;
}
@media (max-width: 600px) {
    .navbar-header {
        justify-content: center;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

/********* Home page **********/
.box1, .box2,.box3,.box4,.box5,.box6 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.box1 {
    background: url("../images/flag2.png") fixed;
    height: inherit;
    padding: 90px 5% 2% 5%;
}
@media (max-width: 600px) {
    .box1 {
        padding: 130px 0 0 0;
    }
}
.box2 {
    background: url("../images/img10.jpg") fixed;
}
.box3 {
    background: url("../images/img4.jpg")  fixed;
}
.box4 {
    background: url("../images/img5.jpg") fixed;
}
.box5 {
    background: url("../images/img6.jpg") fixed;
}
.box6 {
    background: url("../images/img3.jpg") fixed;
}
.home-info {
    margin: 20px 0 30px 0;
    text-align: center;
    padding: 0 10%;
    color: #333;
    background-color: rgba(255,255,255,0.8);
    margin: 50px 0 0 0;
    padding-top: 40px;
    padding-bottom: 50px;
}
@media (max-width: 370px) {
    .home-info{
        margin: 35px 0 0 0;
    }
}
.about-info {
    padding: 0 30%;
}
@media (max-width: 700px) {
    .about-info {
        padding: 0 10%;
    }
}
.Sponsors {
    display: flex;
    justify-content: center;
    padding: 20px 30% 0 30%;
}
@media (max-width: 600px) {
    .Sponsors {
        padding: 20px 10px;
    }
}
.Sponsor-pic > img {
    height: 60px;
    width: 60px;
    margin: 0 10px;
}
.sponsor-title {
    font-size: 30px;
}
.aim-title {
    font-size: 60px;
    color: #333;
}
@media (max-width: 800px) {
    .aim-title {
        font-size: 30px;
    }
}
a:-webkit-any-link, a {
    text-decoration: none;
}
.home-title {
    font-size: 70px;
    font-family: Montserrat;
    margin-top: 5px;
}
@media (max-width: 800px) {
    .home-title {
        font-size: 60px;
    }
}

h3#thankyou {
    font-size: 20px;
}

.home-picture {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.home-picture > img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    filter: grayscale(1);
    border: solid thin rgba(0,0,0,0.8)
}
p {
    font-size: 12px;
}
.navbar-brand > p {
    font-size: 14px;
}
.social-med {
    height: 20px;
    width: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.box-main {
    width: 90%;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 10% 20px;
    color: #333
}


/********* Stats page **********/
.edbox1,.edbox2,.edbox3,.edbox4 {
    height: inherit;
    padding: 5%;
}
.edbox1 {
    background: url(../images/img2.jpg) fixed;
    padding-top: 130px;
}
.edbox2 {
    background: url(../images/img7.jpg) fixed;
}
.edbox3 {
    background: url(../images/img9.jpg) fixed;
}
.edbox4 {
    background: url(../images/img1.png) fixed;
}
#Education-info {
    text-align: center;
    padding: 10px 15% 20px 15%;
    font-size: 12px;
}
.Education-main {
    background-color: rgba(255,255,255,0.8);
    width: 90%;
}
.pick-state {
    width: 200px;
    text-align: center;
    margin-top: 20px;
}
.long-chart {
    max-width: 800px;
}
.graph-info {
    background-color: rgba(255,255,255,0.8);
    padding: 20px 10%;
}
.bar-pie {
    width: 300px;
    height: 300px;
}
.bar-piecontent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
}
#funding-chart {
    margin: 15px auto;
}
.funding-chart {
    width: 270px;
}
.dc-select-menu {
    height: 31px;
    font-size: 15px;
    border-radius: 5px;
}
@media (min-width: 1200px) {
    .number-graph-info {
        height: 407px;
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
}
@media (min-width: 1200px) {
    .long-graph-info {
        height: 508px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1200px) {
    .bar-pie-info {
        height: 298px;
        display: flex;
        align-items: center;
    }
}
.total-number-don {
    background: #3182bd;;
    position: relative;
    font-size: 29px;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}




.Education-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    .Education-title {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .Education-title > h1 {
        margin: 20px;
    }
}

.hidden {
    display: none;
}

#tooltip {
    position: absolute;
    z-index: 1000000;
    padding: 5px 10px;
    background: white;
    border-radius: 3px;
    font-weight: bold;
}



button.reset {
    height: 30px;
    margin-left: 20px;
    bottom: 10px;
    border-radius: 5px;
    background-color: rgba(26, 24, 35, 0.41);
    color: white;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;

}

button.reset:hover {
    background-color: #333;
}


.menu {
    float: right;
    margin-right: 40px;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    ul.menu {
        padding: 10px;
        margin: 0;
    }
}

.menu li {
    display: inline;
}

@media (max-width: 600px) {
    .menu li {
        font-size: 18px;
    }
}

.menu li + li {
    margin-left: 35px;
}

@media (max-width: 600px) {
    .menu li + li {
        margin-left: 15px;
    }
}
.graph-center {
    display: flex;
    justify-content: center;
}

.menu li a {
    color: #333;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}



#funding-chart {
    margin: 15px auto;
}

.text-muted {
    margin-right: 20px;
    margin-bottom: 0;
}

#number-projects-nd, #total-donations-nd, #average-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects, #net-donations {
    background: #CC1520;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}


/******* Loader **********/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
