{% extends "index.html" %}
{% block content %}

    <div class="box1">
        <div class="home-picture">
            <img alt="Becca Manning" src="{{ url_for ('static', filename='images/Becca.jpg') }}">
        </div>
        <div class="home-info home-info1">
            <h1 class="home-title">Becca Manning</h1>
            <h2 class="for-president">For President</h2>
            <p class="about-info">
                Make America awesome again. I aim to resolve the issues that can make our country strong, powerful and
                united.
                Vote for me and I aim to work on the key areas of our strong country; Education, Equality, Peace, Health
                and Security. Education is my main focus, with funding being far lower than it should be in certain
                states. Please visit my <a href="{{ url_for('about') }}">Education page</a> to view stats highlighting
                issues and what I will do to fix these.
            </p>
            <h3 id="thankyou"> Thank you</h3>
            <br>
            <hr>
            <h1 class="sponsor-title">Sponsors</h1>
            <div class="Sponsors">
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser1.png') }}">
                </div>
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser2.png') }}">
                </div>
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser3.png') }}">
                </div>
            </div>
        </div>
    </div>

    <div class="box2">
        <div class="box-main non-hovered">
            <a href="{{ url_for('about') }}"><h1 class="aim-title text-center">Education</h1></a>
            <h4 class="text-center">In charge of our children and our future, Education is of immense importance.</h4>
        </div>
        <div class="box-main hovered hidebox">
            <a href="{{ url_for('about') }}"><h1 class="aim-title text-center">Click me</h1></a>
            <h4 class="text-center">In charge of our children and our future, Education is of immense importance.</h4>
        </div>
    </div>

    <div class="box3">
        <div class="box-main non-hovered">
            <h1 class="aim-title text-center">Equality</h1>
            <h4 class="text-center">As a United Country we <b>all</b> deserve equal rights and treatment.</h4>
        </div>
        <div class="box-main hovered hidebox">
            <h1 class="aim-title text-center">Aim</h1>
            <h4 class="text-center">To focus on equal employment for race, gender, disability and religion.</h4>
        </div>
    </div>

    <div class="box4">
        <div class="box-main non-hovered">
            <h1 class="aim-title text-center">Peace</h1>
            <h4 class="text-center"><i>"Hate has caused a lot of problems in this world, but it had not solved one
                yet"</i></h4>
        </div>
        <div class="box-main hovered hidebox">
            <h1 class="aim-title text-center">Aim</h1>
            <h4 class="text-center">Create a united country with less crime, stress and hatred.</h4>
        </div>
    </div>

    <div class="box5">
        <div class="box-main non-hovered">
            <h1 class="aim-title text-center">Health</h1>
            <h4 class="text-center">The most important quality of life is good health, weather it be mental or
                physical.</h4>
        </div>
        <div class="box-main hovered hidebox">
            <h1 class="aim-title text-center">Aim</h1>
            <h4 class="text-center">Fund 10% more free health care opportunities for citizens throughout the
                country.</h4>
        </div>
    </div>

    <div class="box6">
        <div class="box-main non-hovered">
            <h1 class="aim-title text-center">Security</h1>
            <h4 class="text-center">Protecting our people from terrorist threats and criminals to achieve great
                safety.</h4>
        </div>
        <div class="box-main hovered hidebox">
            <h1 class="aim-title text-center">Aim</h1>
            <h4 class="text-center">Fund 10% more in defence organisations, with 15% in major cities and terrorist
                threats.</h4>
        </div>
    </div>

{% endblock %}
