{% extends "index.html" %}
{% block content %}

    <div class="box1">
        <div class="home-picture">
            <img alt="Becca Manning" src="{{ url_for ('static', filename='images/Becca.jpg') }}">
        </div>
        <div class="home-info home-info1">
            <h1 class="home-title">Becca Manning</h1>
            <h2 class="for-president">For President</h2>
            <p class="about-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </p>
            <h3 id="thankyou"> Thank you</h3>
            <br>
            <hr>
            <h1 class="sponsor-title">Sponsors</h1>
            <div class="Sponsors">
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser1.png') }}">
                </div>
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser2.png') }}">
                </div>
                <div class="Sponsor-pic">
                    <img src="{{ url_for ('static', filename='images/sponser3.png') }}">
                </div>
            </div>
        </div>
    </div>

    <div class="box2">
        <div class="box-main">
            <a href="{{ url_for('about') }}"><h1 class="aim-title text-center">Education</h1></a>
            <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
        </div>
    </div>

    <div class="box3">
        <div class="box-main">
            <h1 class="aim-title text-center">Equality</h1>
            <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
        </div>
    </div>

    <div class="box4">
        <div class="box-main">
            <h1 class="aim-title text-center">Peace</h1>
            <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
        </div>
    </div>

    <div class="box5">
        <div class="box-main">
            <h1 class="aim-title text-center">Health</h1>
            <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
        </div>
    </div>

    <div class="box6">
        <div class="box-main">
            <h1 class="aim-title text-center">Security</h1>
            <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
        </div>
    </div>

{% endblock %}
