{% extends "index.html" %}
{% block content %}

    <!-- Initial Content: About, Reset/More buttons and drop down menu to select State -->
    <div class="edbox1">

        <!-- About -->
        <div class="Education-main center-block">
            <div class="Education-title">
                <h1>Education Stats</h1>
                <!-- Reset graphs button -->
                <button class="reset" type="button" onclick="dc.filterAll();dc.renderAll();">Reset</button>
                <!-- Guided tour button -->
                <button class="reset" type="button" autofocus onclick="introJs().start();">More</button>
            </div>
            <div id="Education-info">
                The key aim I hope to work on is Education. This affects not only our future, but also our children's
                and grandchildren's. After thoroughly looking through statistics, I have developed plans for how I will
                improve Education across the country. To add donations or be added to our mailing list, please email <a
                    href="mailto:bm4president@whitehouse.com">bm4president@whitehouse.com</a>.
                <br><br>
                Please see below for the the various ideas I have lined up or click <b>'More'</b> for a guided tour. If
                you
                need to reset the graphs at any point, click the <b>'Reset'</b> button. You can click different parts of
                the
                graphs to interact and see the affect on other charts.
            </div>
        </div>
        <!-- Select a State drop down menu -->
        <div class="chart-wrapper center-block pick-state">
            <div class="chart-title">
                Donation State
            </div>
            <div class="chart-stage graph-center">
                <div id="menu-select"></div>
            </div>
        </div>

    </div>


    <!-- Section 1: Long Graphs -->
    <div class="edbox2 col-lg-12">

        <!-- Graphs -->
        <div class="col-lg-8 center-block">
            <!-- Line Chart for the Total Donations over the years -->
            <div class="chart-wrapper long-chart center-block">
                <div class="chart-title">
                    Total Donations per year
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage long-chart-scroll" data-step="1"
                     data-intro="Vote for me and I will guarantee a an increase in total donations.
                     The spike will continue throughout 2006 and onto 2007, keeping the line above the 500k mark."
                     data-position="top">
                    <div id="time-chart"></div>
                </div>
            </div>

            <!-- State Chart for the Number of Donations per State -->
            <div class="chart-wrapper long-chart center-block">
                <div class="chart-title">
                    Number of Donations per State
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage long-chart-scroll" data-step="2"
                     data-intro="Vote for me and I aim to even out the amount of donations across the country.
                     I will be working on states like Mississippi and Oklahoma to increase the number of donations."
                     data-position="top">
                    <div id="map-chart"></div>
                </div>
            </div>
        </div>

        <!-- Charts Information -->
        <div class="col-lg-4 center-block">
            <p class="text-center graph-info center-block long-graph-info">
                Click on the different states (or a group of states) to see the effect on total donations and total
                donations including optional support. If you hover over the bars or a point on the line graph, it will
                more specific numbers.
                <br><br>
                As you can see the total number of donations were steadily rising over the years until a sudden drop in
                April. I aim to create a steadily increasing number of donations across the next year so that they can
                be correctly used by schools. The drastic difference in the number of donations for each state is
                tremendous. I guarantee to increasing funding in states with lower donations whilst keeping and not
                disturbing the high level in others.
            </p>
        </div>
    </div>


    <!-- Section 2: Number Charts -->
    <div class="edbox3 col-lg-12">

        <!-- Charts Information -->
        <div class="col-lg-6 center-block">
            <p class="text-center graph-info center-block number-graph-info">
                Click on the other graphs, or even the drop down menu near the top of the page, to see the effect on
                the total number of donations, total number of donations and average donation for the state. The data on
                this page is from 20000 different donation with the average donation across the country being 405.
                <br><br>
                We can see from this that even though states like Texas have a low total number of donations, the
                average donations are over double that of states with a large number of total donations such as New
                York. I aim not only to increase the total number of donations in states like Texas, but also focus on
                improving the average donations in various states such as New York.
            </p>
        </div>

        <!-- Graphs -->
        <div class="col-lg-6 center-block">

            <!-- Number display for total number of donations -->
            <div class="chart-wrapper center-block">
                <div class="chart-title">
                    Total Number of Donations
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center total-number-don" data-step="3"
                     data-intro="Vote for me and I will increase the total number of donations by 10%
                     by the following year."
                     data-position="top">
                    <div id="number-projects-nd"></div>
                </div>
            </div>

            <!-- Number display for total number of donations -->
            <div class="chart-wrapper center-block">
                <div class="chart-title">
                    Total Donations in USD
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center" data-step="4"
                     data-intro="Vote for me and I will also increase the total donations by at least 5M by the
                     following year."
                     data-position="top">
                    <div id="total-donations-nd"></div>
                </div>
            </div>

            <!-- Number display for average donation -->
            <div class="chart-wrapper center-block">
                <div class="chart-title">
                    Average Donation in USD
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center" data-step="5"
                     data-intro="Vote for me and I will aim to even out the average number of donations across all
                     the states."
                     data-position="top">
                    <div id="average-donations-nd"></div>
                </div>
            </div>

        </div>
    </div>


    <!-- Section 3: Bar and Pie charts -->
    <div class="edbox4 col-lg-12">

        <!-- Graphs -->
        <div class="col-lg-9 center-block bar-piecontent">

            <!-- Bar chart for the effect of different resource types on donations -->
            <div class="chart-wrapper center-block bar-pie">
                <div class="chart-title">
                    Resources Type
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center" data-step="6"
                     data-intro="Vote for me and I will aim to improve the resources to a level
                         similar of Supplies."
                     data-position="top">
                    <div id="resource-type-row-chart"></div>
                </div>
            </div>

            <!-- Bar chart for the effect of different Poverty levels on donations -->
            <div class="chart-wrapper center-block bar-pie">
                <div class="chart-title">
                    Poverty Level
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center" data-step="7"
                     data-intro="Vote for me and I will focus on improving donation numbers
                         in lower poverty levels."
                     data-position="top">
                    <div id="poverty-level-row-chart"></div>
                </div>
            </div>

            <!-- Pie chart for the effect of different Funding status' on donations -->
            <div class="chart-wrapper center-block bar-pie funding-chart">
                <div class="chart-title">
                    Funding Status
                </div>
                <!-- Chart with text for the guided tour -->
                <div class="chart-stage graph-center" id="funding-stage" data-step="8"
                     data-intro="Vote for me and I will lower the amount of expired funding status' by 10%."
                     data-position="top">
                    <div id="funding-chart"></div>
                </div>
            </div>

        </div>

        <!-- Charts Information -->
        <div class="col-lg-3 center-block">
            <p class="text-center graph-info center-block bar-pie-info">
                Click on the graphs to see the effect on Resource level, Poverty level and Funding status for the
                states. To see the effect for each state, click on a state from the drop down menu near the top of the
                page.
            </p>
        </div>

    </div>

{% endblock %}

{% block graphscripts %}
    <!-- JS: Not my code -->
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js') }}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js') }}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js') }}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js') }}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js') }}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js') }}" type="text/javascript"></script>
    <!-- JS: My code -->
    <script src="{{ url_for ('static', filename='js/graph.js') }}"></script>
{% endblock %}
